.filter {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title {
    font-size: 15px;
    color: #425668;
    font-weight: 600;
}

.label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}