.sorter {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title {
    font-size: 15px;
    color: #425668;
    font-weight: 600;
}

.label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}