@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

button {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  width: 1024px;
}



